/* * { 
  border: 1px solid red !important;
} */


html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

#stars {
  background: url(/assets/blackstars.png);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #0a0111;
  
}

body #first-section {
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

body #second-section {
  background-color: whitesmoke;
}

body #third-section {
  display: none;

}

body #third-section:target {
  display: block;
}

.navbar-container {
  position: fixed;
  z-index: 0;
  width: 100%;
}

.navbar {
  position: absolute;
  z-index: 1;
}

#link {
  color: #0a0111;
  font-weight: 600;
  background-color: transparent;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white,
    0 0 7px #3a043a, 0 0 9px #3a043a;
}

#linkedin {
  width: 2.5vw;
  height: auto;
  box-shadow: -2.3px -2.3px 0 rgb(66, 4, 58, 0.4),
    2.3px -2.3px 0 rgb(66, 4, 58, 0.4),
    -2.3px 2.3px 0 rgb(66, 4, 58, 0.4),
    1.3px 1.3px 0 rgb(66, 4, 58, 0.4), 0 0 4px white, 0 0 9px white, 0 0 7px #42043a, 0 0 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
}



#github {
  width: 2.7vw;
  height: auto;
  border-radius: 20px;
  border-width: 2px;
  box-shadow: -2.3px -2.3px 0 rgb(66, 4, 58, 0.4),
    2.3px -2.3px 0 rgb(66, 4, 58, 0.4),
    -2.3px 2.3px 0 rgb(66, 4, 58, 0.4),
    1.3px 1.3px 0 rgb(66, 4, 58, 0.4), 0 0 4px white, 0 0 9px white, 0 0 7px #42043a, 0 0 5px #3a043a;
  background-color: rgba(20, 5, 18, 0.507);
}



a {
  margin-left: 1.5rem;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  text-shadow:
    -1px -1px 0 rgb(66, 4, 58),
    1px -1px 0 rgb(66, 4, 58),
    -1px 1px 0 rgb(66, 4, 58),
    1px 1px 0 rgb(66, 4, 58),
    0 0 5px rgb(66, 4, 58),
    0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}

.moon {
  width: 30rem;
  height: auto;
  position: absolute;
  filter: drop-shadow(10px 2px 80px rgb(228, 223, 223));
  z-index: 0;
  border-radius: 50%;
  box-shadow: 0 0 55px transparent;
}

#content {
  position: absolute;
  z-index: 0;
  height: 60vh;
  text-align: center;
  align-items: center;
  top: 27vh;
  color: #0a0111;
  filter: blur(0);
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white,
    0 0 7px #3a043a, 0 0 9px #3a043a;
}

.spotlight {
  z-index: 1;
  width: 35%;
  height: 50%;
  filter: blur(3em) brightness(300%) contrast(1);
  
  border-radius: 50%;
  position: absolute;
  top: -55px;
  left: -150px;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(circle,
      #270c3dc0,
      transparent 200%) center / 10%,
    radial-gradient(circle,
      rgb(34, 3, 34),
        rgb(44, 8, 44) 100%) center /10% 10%;

  mix-blend-mode: color-dodge;

}

.spotlight2 {
  z-index: 10;
  margin: 0 auto;
  width: 80%;
  height: 85%;
  filter: blur(4em) brightness(380%) contrast(2);

  
  position: absolute;
  top: 3%;
  left: 5%;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(circle,
      #120114c0,
      transparent 90%) center / 100%,
    radial-gradient(circle,
      rgb(37, 5, 39),
       rgb(8, 0, 8) 20%) center / 100% 50%;

  mix-blend-mode: color-dodge;

}

/*# sourceMappingURL=index.css.map */
