#stars {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  }

html, body {
	background-color: rgb(10, 1, 17) ;
	
  }
  
  section {
	height: 100vh;
	overflow-x: hidden;
	
  }

.moon {
	  height: 30vh;
	  width: auto;
	  position: absolute;
	  box-shadow: -18px 25px 100px rgb(255, 200, 255);
	  border-radius: 360px; 
  }

#content {
	height: 55%;
	overflow-y: ;
	text-align: center;
	top: 16rem;
	color: rgb(10, 1, 17);
	text-shadow: 0 0 10px rgb(255, 255, 255), 
	0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 
	0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255), 
	0 0 50px rgb(255, 255, 255), 0 0 60px rgb(66, 4, 58), 
	0 0 70px rgb(66, 4, 58), 0 0 80px rgb(66, 4, 58),
	0 0 90px rgb(66, 4, 58);
	
}

h1 {
	font-size: 4rem;
	letter-spacing: .7rem;
	margin-bottom: 2.5rem;
	
  }

h2 {
	letter-spacing: .7rem;
	font-size: 3rem;
	
}


.navbar {
	z-index: 1;
	height: 8rem;
	position: fixed;

}

#linkedin {
	height: 50px;
	width: auto;
	border: 1px solid rgb(160, 167, 154);
	box-shadow:
	0 0 5px rgb(255, 255, 255), 
	0 0 10px rgb(255, 255, 255), 0 0 15px rgb(66, 4, 58), 
	0 0 20px rgb(66, 4, 58);
	background-color: rgba(20, 5, 18, 0.507);
}

#github {
	height: 50px;
	width: auto;
	border-radius: 20px;
	box-shadow:
	0 0 5px rgb(255, 255, 255), 
	0 0 10px rgb(255, 255, 255), 0 0 15px rgb(66, 4, 58), 
	0 0 20px rgb(66, 4, 58);
	background-color: rgba(20, 5, 18, 0.507);
}

a {
	margin-left: 1.5rem;
	font-size: 1.1rem;
}

.second-section {
	background-color: whitesmoke;
	padding: 2rem;
}

.btn-outline-light {
	margin-top: 3rem;
	width: 15rem;
	letter-spacing: .2rem;
	font-weight: .8rem;
	font-size: 1.3rem;
	border-radius: 10px;
	border-width: 1px;
	color: rgb(255, 255, 255);
	box-shadow:
	0 0 10px rgb(255, 255, 255), 
	0 0 15px rgb(255, 255, 255), 0 0 20px rgb(66, 4, 58), 
	0 0 25px rgb(66, 4, 58);
	background-color: rgba(20, 5, 18, 0.507);
}

.btn-outline-light:hover {
	background-color: rgba(245, 245, 245, 0.808);
	letter-spacing: .2rem !important ;
	
}